<%- include('../partials/header', { title: 'Login Page' }) %>
<%- include('../partials/navbar', { role }) %>

<section>
    <div class="container bg-light rounded-4 border border-warning shadow p-5 mt-5" style="max-width: 560px;">
        <h1 class="fs-1 text-center">Login</h1>
        <hr class="border border-warning border-2 opacity-75 col-md-5 mx-auto">
        <% if(message) {%>
            <div class="alert alert-danger text-center" role="alert">
                <%= message %>
            </div>
        <% } %>
        <form action="/login" method="post" class="">
            <div class="row px-5">
                <div class="mt-4">
                    <input type="email" class="form-control form-control-lg rounded-5 border border-warning" name="email" id="email" placeholder="Input your email">    
                </div>
                <div class="mt-4">
                    <input type="password" class="form-control form-control-lg rounded-5 border border-warning" name="password" id="password" placeholder="Input your password">    
                </div>
            </div>
            <button type="submit" class="btn btn-warning btn-lg d-grid col-4 mx-auto mt-5 rounded-5 " name="submit">Submit</button>
        </form>
    </div>
</section>

<%- include('../partials/footer') %>